<div class="container-footer">
    <div class="footer">
        <img class="img" src="assets/head foot/footer.JPG" width="170px">
    </div>
    <div class="footer">
        <div>
            <h4></h4>
            <p>Số 669, Quốc lộ 1, Phường Linh Xuân, TP Thủ Đức, TPHCM</p>
            <p>(0123)-444-555</p>
            <p>(0123)-444-666</p>
            <p>gofoodeatclean@gmail.com</p>
            <p>hotrokhachhang.gofood@gmail.com</p>
        </div>
    </div>
    <div class="footer">
        <div>
            <h4>Điều khoản chung</h4>
            <p>Chính sách quy định chung</p>
            <p>Quy định hình thức thanh toán</p>
            <p>Chính sách vận chuyển giao hàng</p>
            <p>Chính sách bảo mật thông tin</p>
        </div>
    </div>
    <div class="footer">
      <div>
          <h4>Follow us:</h4>
          <p>
          <!-- <img src="assets/head foot/fb(2).png" width="25px"> -->
          <!-- <img src="assets/head foot/mail(2).png" width="25px"> -->
          <img src="assets/head foot/ig(2).png" width="25px">
          </p>
      </div>
  </div>
  </div>
  <div>
    <hr>
    <i>© Copyright 2022 GoFood. All rights reserved.</i>
  </div>


