<div class="blogList">
    <p id="title">
        Blog List <br />
        <span>It is easy way to create your beatiful blog for daily</span>
    </p>
</div>
<div class="blog">
    <div class="blog_collum" *ngFor="let item of data">
        <div class="Hình">
            <img [src]="item.image" alt="No-image" width="350px" height="280px" />
            <p id="Eatclean">Eatclean</p>
        </div>

        <div class="describe">
            <sub>
                <img id="bloger" src="assets/images/Bloger1.jpg" alt="No-image" /></sub>
            <p id="author">
                &nbsp;Michelle Phan &nbsp; <sup><b>.</b></sup>&nbsp; October 17, 2021 &nbsp; <sup><b>.</b></sup>
                &nbsp;3:33pm
                &nbsp;<sup><b>.</b></sup>&nbsp; 5 comments
            </p>
            <p id="Name">{{ item.name }}</p>
            <p>
                ...........................................................................................................
            </p>
            <p id="readMore">
                <a [routerLink]="'/blogs-detail/' + item._id">
                    <sup> Read more</sup>
                    &nbsp;
                    <sub>
                        <img src="assets/images/long-arrow-right.png" width="40px" /></sub></a>
            </p>
        </div>
    </div>

    <div class="page" *ngIf="total > 0">
        <a id="bigbox" (click)="prev()">Prev</a>
        <a id="smallbox" [class]="page" (click)="goPage(num)" *ngFor="let num of nums">{{ num }}</a>
        <a id="bigbox" (click)="next()">Next</a>
    </div>
</div>
