
  <div class="hm1">
  <img src="../assets/homepg_img/hm1.png" alt="">
  <p>TRẢI NGHIỆM BỮA ĂN GIÀU DINH DƯỠNG</p>
  <span>TƯƠI NGON - GIÀU SỨC KHỎE</span>
  <button routerLink="/menu">ĐẶT HÀNG NGAY</button>
</div>

  <div class="hm2">
  <div class="image-container">
    <img src="../assets/homepg_img/hm1.1.png" alt="">
    <div class="title">BEST SELLER</div>
  </div>

  <div class="box">
    <div *ngFor="let product of bestproducts" class='sel' (click)="onProductDetails(product.productId)" >
      <div>
        <img [src]="product.productImage" alt="product image" class="product-image" >
      </div>
      <div>
        <h3>{{ product.productName}}</h3>
        <div>
          <span>{{ product.price}}<sup>đ</sup></span>
          <button routerLink="/cart"><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </div>
</div>

<div class="hm3">
  <span>GOFOOD CÓ GÌ MÀ HOT ?</span>
  <div class="border"></div>

  <div class="mini">
    <div class="mini-content">
      <img src="../assets/homepg_img/hm2.png" alt="" >
      <div class="content">
      <p>Nguồn nguyên liệu sạch và phong phú đến từ những trang trại đạt chuẩn</p>
      <div class="line"></div>
    </div>
    </div>
    <div class="mini-content">
      <img src="../assets/homepg_img/hm3.png" alt="">
      <div class="content">
      <p>Những món ăn ngon miệng và dinh dưỡng phù hợp với khẩu vị của nhiều người</p>
      <div class="line"></div>
    </div>
    </div>
    <div class="mini-content">
      <img src="../assets/homepg_img/hm4.png" alt="">
      <div class="content">
      <p>Bữa ăn được đảm bảo với ba tiêu chí: Ngon, sạch, giàu dinh dưỡng</p>
      <div class="line"></div>
    </div>
    </div>
  </div>
</div>

<div class="hm4">


  <div class="head">
  <h1>CÙNG GOFOOD</h1>
  <h2>CHUNG TAY BẢO VỆ MÔI TRƯỜNG</h2>
  </div>

  <div class="bor"></div>

  <div class="save">
    <div class="item">
      <img src="../assets/homepg_img/save1.png" alt="">
      <p>GoFood sử dụng hộp nhựa tự hủy làm từ bột gỗ cây bạch đàn</p>
    </div>
    <div class="item">
      <img src="../assets/homepg_img/save2.png" alt="">
      <p>Sử dụng túi Nylon tự phân hủy thân thiện với môi trường</p>
    </div>
    <div class="item">
      <img src="../assets/homepg_img/save3.png" alt="">
      <p>Khách hàng sẽ được tặng túi vải canvas khi mua hàng số lượng nhiều</p>
    </div>
  </div>
</div>
