<script>
  $(document).ready(function() {
      $('#toggle').click(function() {
          $('nav').slideToggle();
      });
  })
</script>
<div class="main">
  <div class="body">
      <h1>FAQS</h1>
      <div>
          <ul class="gr"><img src="assets/img/hinh-banner2.png" width="20px"> 1. Eat Clean là gì ? Vì sao ngày càng trở nên phổ biến ?</ul>
          <ul class="border">
              <li>Eat Clean là chế độ ăn uống lành mạnh bằng thực phẩm xanh sạch và tươi, mà không phải là thực phẩm đã được chế biến sẵn có sử dụng chất phụ gia nhân tạo và chất bảo quản.</li>
              <li>Nhóm thực phẩm eat clean thường được dùng bao gồm ngũ cốc, rau xanh, trái cây tươi cùng với hàm lượng chất béo và protein nhất định.</li>
              <li>Về cơ bản, eat clean có lợi cho sức khỏe, giúp giảm cân, giảm lượng mỡ thừa, giữ cho vóc dáng luôn thon gọn, cân đối và mang lại làn da căng sáng.</li>
          </ul>
          <ul class="gr"><img src="assets/img/hinh-banner2.png" width="20px">2. Mô hình kinh doanh của GoFood hoạt động như thế nào ?</ul>
          <ul class="border">
              <li>GoFood là mô hình khởi nghiệp kinh doanh chuyên mua bán những thực phẩm sạch, những món ăn mang phong cách Châu Á đến cho khách hàng với tiêu chí sạch - ngon miệng - dinh dưỡng.
              </li>
              <li>Với thực đơn đa dạng với hơn 100 món với nhiều phong cách khác nhau, #Name mong muốn đem đến cho khách hàng những sự lựa chọn đa dạng và phong phú cũng như theo sở thích, khẩu vị của mỗi người.
              </li>
          </ul>
          <ul class="gr"><img src="assets/img/hinh-banner2.png" width="20px">3. Để mua hàng trên web thì làm thế nào ?</ul>
          <ul class="border">
              <li>Để có được những bữa ăn ngon miệng và dinh dưỡng từ GoFood. Bạn sẽ phải chọn món ăn, thực phẩm mà mình muốn mua tại menu, sau đó điền đầy đủ thông tin cá nhân như Địa chỉ nhận hàng, số điện thoại. GoFood sẽ gọi điện xác nhận đơn hàng và sẽ nhanh chóng giao hàng đến tay bạn nhanh nhất có thể. </li>
          </ul>
          <ul class="gr"><img src="assets/img/hinh-banner2.png" width="20px">4. Tôi có thể hủy đơn hàng như thế nào ?</ul>
          <ul class="border">
              <li>Bạn có thể hủy đơn hàng khi đơn hàng đang ở chế độ Chuẩn bị, khi đơn hàng Chuẩn bị xong và ở trạng thái Đang giao đến bạn, bạn không thể hủy đơn hàng được. Quá trình này rơi vào khoảng 2 - 3 tiếng, nghĩa là sau 3 tiếng đặt hàng và xác nhận đơn hàng, bạn không thể hủy đơn được nữa. </li>
          </ul>
      </div>
      <div style="text-align: center">
          <form action="./FAQS.HTML" method="get">
              <input type="button" value="1" >
              <input type="button" value="2">
              <input type="button" value="3">
              <input type="button" value="...">
          </form>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
