<thead>

</thead>

<tbody>
  <img src="../assets/about_img/ab1.png">

  <div class="ab2">
    <img src="../assets/about_img/ab2.png">

    <div class="text-ab2">
      <p>VỀ CHÚNG TÔI</p>

      <ul type="circle">
        <li>GoFood là một trang web khởi nghiệp do nhóm sinh viên ĐH Kinh Tế - Luật, ĐHQG TPHCM thực hiện.</li>
        <li>GoFood mang đến cho bạn những bữa ăn lành mạnh và dinh dưỡng, mang đến cho bạn những trải nghiệm mới và đặc biệt là những lợi ích to lớn về sức khỏe mà GoFood mang lại.</li>
        <br>
        <li>Nếu bạn đang quan tâm về sức khỏe cũng như làm sao để vừa được thưởng thức những món ăn mà còn tốt cho sức khỏe, muốn tìm kiếm cho mình những thực phẩm sạch đảm bảo an toàn cho bữa ăn hàng ngày thì #Name là một lựa chọn đúng đắn và tối ưu.</li>
      </ul>
    </div>
  </div>


    <div class = "ab3">
      <img src="../assets/about_img/ab3.png">
      <p>NGUYÊN LIỆU SẠCH HỮU CƠ</p>
      <span class="text-ab3">Nhằm đảm bảo những bữa ăn dinh dưỡng và lành mạnh cho khách hàng, GoFood tuyển chọn những nguyên liệu hàng đầu về an toàn vệ sinh thực phẩm đến từ những cửa hàng uy tín chất lượng về sản phẩm sạch, từ những trang trại nuôi trồng đặc biệt và được kiểm duyệt chất lượng một cách kỹ lưỡng và an toàn.</span>
    </div>


    <div class="ab4">
      <img src="../assets/about_img/ab4.png">
      <p>EAT CLEAN - KHÔNG CẦU KÌ NHƯ BẠN NGHĨ</p>

      <ul>
        <li>Ngày nay xu hướng ăn sạch - eat clean đang là xu hướng mới thu hút ngày càng nhiều người quan tâm và thực hiện, đặc biệt là ở giới trẻ.</li>
        <li>Ăn uống lành mạnh không bắt buộc bạn phải ăn uống khắt khe, mà hướng đến các hướng thực phẩm lành mạnh, để giảm bớt các chất béo, đường… từ thức ăn thông thường mang lại cho cơ thể. Phương pháp ăn sạch này vẫn cho phép bạn ăn đủ các dưỡng chất quan trọng như tinh bột, chất đạm, chất béo, chất xơ.</li>
    </ul>
  </div>


    <div class="ab5">
      <img src="../assets/about_img/ab5.png">

      <div class="box-left">
        <img src="../assets/about_img/icon_left.png">
        <p>Trở thành thương hiệu bán thực phẩm/ món ăn eat clean lớn nhất Việt Nam. Dần lan rộng ra các nước Đông Nam Á và thế giới.
        </p>
        <img src="../assets/about_img/icon_left.png">
        <p>Trở thành địa điểm mua hàng đáng tin cậy của tất cả những người quan tâm đến lối sống eatclean. Là nơi mà mọi người sẽ nghĩ đến đầu tiên khi nhắc đến eatclean.
        </p>

        <p class="title-min">TẦM NHÌN</p>
      </div>

      <div class="box-right">
        <p class="title-min">SỨ MỆNH</p>

        <img src="../assets/about_img/icon_right.png">
        <p>Đem lại giá trị vật chất không chỉ ở những bữa ăn ngon, thực phẩm sạch mà còn về giá trị tinh thần, sức khỏe.
        </p>

        <img src="../assets/about_img/icon_right.png">
        <p>Mang đến cho người người nhà nhà những bữa ăn ngon miệng nhưng lại đảm bảo vệ sinh - tốt cho sức khỏe, giúp nâng cao đời sống tinh thần cũng như thể chất cho mọi người.
        </p>

        <img src="../assets/about_img/icon_right.png">
        <p>Giá trị mà GoFood mang lại cho khách hàng được đưa vào từng món ăn, từng nguyên liệu, gia vị tạo nên nó.
        </p>
      </div>
    </div>

</tbody>

<tfoot>

</tfoot>
