<div *ngIf="showModal" class="modal-overlay"></div>
<div *ngIf="showVerify" class="modal-overlay1"></div>
<div *ngIf="showVerify" class="my-modal1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal1()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="success center-content">
      <i class="bi bi-check-circle-fill" style="color: green; font-size: 30px"></i>
      </div>
    <p style="font-weight: 600">Đăng nhập thành công</p>
    <div class="bt">
      <button class="btn btn-primary" style="background-color: red; font-weight: bold" (click)="toggleModal1()">OK</button>
    </div>
  </div>
</div>
<header>
  <div class="left"><a href="#"><img src="assets/image_login/logo.png" width="190px"></a></div>
  <div class="right" style="float: right;"><a (click)="goTo()" class="btn">Bạn cần trợ giúp ?</a></div>
</header>
<section>
<div class="img-bg">
  <div class="login-image"><img src="assets/image_login/heabg.png"></div>
</div>
<div class="noi-dung">
  <div class="form">
      <h2 >ĐĂNG NHẬP </h2>
      <form  class="login_form" method="post">
        <div class="input-form" id="check">
          <p style="text-align:center ;">Bạn đã có tài khoản chưa? <a (click)="goSignup()">Đăng ký</a></p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-form">
          <input type="email" placeholder="Email" formControlName="email"/>
          <div class="error-list" *ngIf="loginForm.get('email')?.errors && isSubmitted">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">Chưa nhập Email</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">Email chưa đúng</div>
          </div> <br>
          <input type="password" placeholder="Mật khẩu" formControlName="password"/>
          <div class="error-list" *ngIf="loginForm.get('password')?.errors && isSubmitted">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Chưa nhập mật khẩu</div>
          </div>
        </div>

        <div class="input-form">
          <button type="submit" id="DANGNHAP" style="text-decoration: none;">ĐĂNG NHẬP</button>
        </div>
        <a (click)="goSignup()" style="text-decoration: none;" id="check"> Quên mật khẩu</a>
      <ul class="icon-dang-nhap">
          <li>
          <button type="button" onclick="loginGG()">
            <img src="assets/image_login/gg.png" style="width: 1em; margin: 0.2em;"> Đăng nhập với Google
          </button>
          <li>
          <button type="button" onclick="loginFB()">
            <img src="assets/image_login/fb.png" style="width: 1em; margin: 0.2em;"> Đăng nhập với Facebook
          </button>

        </ul>


