<div class="main">
  <h4 class="header">LIÊN HỆ</h4>
  <div class="mainCt">
    <div class="leftCt">
      <h4>GO FOOD</h4>
      <p>Địa chỉ: Số 669, Quốc lộ 1, Phường Linh Xuân, TP Thủ Đức, TPHCM <br>
        Telephone: (0123)-444-555, (0123)-444-666 <br>
        Hotline: 097777777 - CSKH: 028 9996 777 <br>
        Website: GoFood.vn <br>
        E-mail: gofood@gmail.com <br>
        E-mail hỗ trợ khách hàng: hotrokhachhang.gofood@gmail.com <br>
        Tài khoản ngân hàng <br>
        Số TK: 060008086888 <br>
        Tại Ngân hàng: Agribank Chi nhánh Sài Gòn <br>
      </p>
      <p class="note">
        Quý khách có thể gửi liên hệ tới chúng tôi bằng cách hoàn tất biểu mẫu dưới đây. Chúng tôi sẽ trả lời thư của quý khách, xin vui lòng khai báo đầy đủ. Hân hạnh phục vụ và chân thành cảm ơn sự quan tâm, đóng góp ý kiến đến GOFOOD.
      </p>
      <div class="contact">
        <button type="submmit" class="btn btn-primary" (click)="openContact()"><i class="bi bi-caret-right"></i> Liên hệ với chúng tôi tại đây</button>
      </div>
    </div>
    <div class="rightCt">
      <iframe width="1000px" height="1200px"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2191163465627!2d106.7782553!3d10.8709321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277dbf11a271%3A0x4567e34b99494e3f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaW5oIHThur8gLSBMdeG6rXQsIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1668576619337!5m2!1svi!2s" width="820px" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade;output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Embed Google Map
      </a>
  </iframe>
    </div>
  </div>
  </div>
  <div *ngIf="showModal" class="modal-overlay"></div>
<div *ngIf="showVerify" class="modal-overlay1"></div>
<div *ngIf="showVerify" class="my-modal1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal1()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="success center-content">
      <i class="bi bi-check-circle-fill" style="color: green; font-size: 30px"></i>
      </div>
    <p style="font-weight: 600">Câu hỏi của bạn đã được gửi đi, chúng tôi sẽ cố gắng giải đáp thắc mắc của bạn trong thời gian nhanh nhất.</p>
    <div class="bt">
      <button class="btn btn-primary" style="background-color: red; font-weight: bold" (click)="toggleModal1()">OK</button>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="my-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <h2>Bạn muốn tư vấn thêm?</h2>
      <p style="margin: 0;">Hãy gửi thắc mắc của bạn vào hộp thư này, chúng tôi sẽ giải quyết thắc mắc của bạn một cách nhanh chóng nhất.</p>
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="mb-3">
          <label for="name" class="col-md-14 col-form-label">Tên của bạn là gì ?</label>
          <input type="text" class="form-control mb-0" #name="ngModel"  name="name" id="name" [(ngModel)]="support.name" placeholder="Nhập họ và tên" required  [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched)}">
          <small class="invalid-feedback">
            Nhập tên trước khi gửi
        </small>
        </div>
        <div class="mb-3">
          <label for="email" class="col-md-14 col-form-label">Email của bạn: <br> (Chúng tôi sẽ gửi giải đáp thắc mắc của bạn thông qua email này)</label>
          <input type="email" class="form-control mb-0" id="email" name="email" placeholder="Nhập email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel"  [(ngModel)]="support.email" [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched)}">
          <small class="invalid-feedback">
            Địa chỉ email không hợp lệ.
          </small>
        </div>
        <div class="mb-3">
          <label for="phone" class="col-md-14 col-form-label">Nếu bạn muốn chúng tôi giải đáp trực tiếp qua điện thoại, hãy cho chúng tôi biết số điện thoại của bạn.</label>
          <input type="tel" class="form-control mb-0" id="phone" placeholder="Nhập số điện thoại" name="phone" [(ngModel)]="support.phone" required pattern="[0-9]{10,11}" #phone="ngModel" [ngClass]="{ 'is-invalid': phone.invalid && (phone.dirty || phone.touched) }">
          <small class="invalid-feedback">
            Số điện thoại không hợp lệ.
          </small>
        </div>
        <div class="mb-4">
          <label for="content" class="col-md-3 col-form-label">Câu hỏi:</label>
          <textarea type="text" class="form-control mb-0" id="question" name ="question" placeholder="Nhập câu hỏi của bạn vào đây" style="height: 80px;" #question="ngModel"  [(ngModel)]="support.question" name="question" required [ngClass]="{ 'is-invalid':question.invalid && (question.dirty || question.touched)}"></textarea>
          <small class="invalid-feedback">
            Nhập nội dung trước khi gửi
          </small>
        </div>
        <div class="bt">
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary" style="background-color: black; font-weight: bold;">Gửi câu hỏi cho chúng tôi <i class="bi bi-play-fill"></i></button>
      </div>
    </form>
  </div>
</div>


