<div class="main_homepage">
  <div class="CSSgal">
      <s id="s1"></s>
      <s id="s2"></s>
      <s id="s3"></s>
      <s id="s4"></s>
      <div class="slider">
          <div style="background-image: url(assets/ProductImage/dinhduong.jpeg);">
              <h2>TRẢI NGHIỆM BỮA ĂN DINH DƯỠNG VÀ NGON MIỆNG</h2>
              <a class="dat" href="#">ĐẶT HÀNG NGAY</a>
          </div>
              <div style="background-image: url(assets/ProductImage/dinhduong.jpeg);">
              <h2>TRẢI NGHIỆM BỮA ĂN DINH DƯỠNG VÀ NGON MIỆNG</h2>
              <a class="dat" href="#">ĐẶT HÀNG NGAY</a>
          </div>
          <div style="background-image: url(assets/ProductImage/dinhduong.jpeg);">
              <h2>TRẢI NGHIỆM BỮA ĂN DINH DƯỠNG VÀ NGON MIỆNG</h2>
              <a class="dat" href="#">ĐẶT HÀNG NGAY</a>
          </div>
              <div style="background-image: url(assets/ProductImage/dinhduong.jpeg);">
              <h2>TRẢI NGHIỆM BỮA ĂN DINH DƯỠNG VÀ NGON MIỆNG</h2>
              <a class="dat" href="#">ĐẶT HÀNG NGAY</a>
          </div>
      </div>
      <div class="prevNext">
          <div><a href="#s4"></a><a href="#s2"></a></div>
          <div><a href="#s1"></a><a href="#s3"></a></div>
          <div><a href="#s2"></a><a href="#s4"></a></div>
          <div><a href="#s3"></a><a href="#s1"></a></div>
      </div>
      <div class="bullets">
          <a href="#s1">1</a>
          <a href="#s2">2</a>
          <a href="#s3">3</a>
          <a href="#s4">4</a>
      </div>
  </div>
</div>

<div class="main">
  <div class="danhSach">
      <div class="muc">
          <img src="assets/ProductImage/rice.png" alt="No image" width="150px">
          <p>Cơm</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/set.png" alt="No image" width="150px">
          <p>Combo</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/cake.png" alt="No image" width="150px">
          <p>Bánh</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/salad.png" alt="No image" width="150px">
          <p>Salad</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/drink.png" alt="No image" width="150px">
          <p>Đồ uống</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/fruit.png" alt="No image" width="150px">
          <p>Trái cây</p>
      </div>
      <div class="muc">
          <img src="assets/ProductImage/km.png" alt="No image" width="150px">
          <p>Đặc biệt</p>
      </div>
  </div>
  <div class="monAn">
      <div class="mon">
          <img src="assets/ProductImage/mon 1.jfif" alt="No image" width="180px">
          <p>Bún sốt cá hồi</p>
          <img src="assets/ProductImage/star.png" alt="No image" width="180px">
          <p>65.000đ <img src="assets/ProductImage/add.png" alt="No image" width="25px" style="float: right;"></p>
      </div>
      <div class="mon">
          <img src="assets/ProductImage/mon2.jfif" alt="No image" width="180px">
          <p>Cơm cá hồi nướng</p>
          <img src="assets/ProductImage/star.png" alt="No image" width="180px">
          <p>65.000đ <img src="assets/ProductImage/add.png" alt="No image" width="25px" style="float: right;"></p>
      </div>
      <div class="mon">
          <img src="assets/ProductImage/mon3.jfif" alt="No image" width="180px">
          <p>Cơm thịt bò nướng</p>
          <img src="assets/ProductImage/star.png" alt="No image" width="180px">
          <p>65.000đ <img src="assets/ProductImage/add.png" alt="No image" width="25px" style="float: right;"></p>
      </div>
      <div class="mon">
          <img src="assets/ProductImage/mon4.jfif" alt="No image" width="180px">
          <p>Cơm tôm bơ</p>
          <img src="assets/ProductImage/star.png" alt="No image" width="180px">
          <p>65.000đ <img src="assets/ProductImage/add.png" alt="No image" width="25px" style="float: right;"></p>
      </div>
  </div>
  <br>
  <p class="tieuDe">Best sell</p>
  <div class="chonMon">
      <mat-card *ngFor="let product of bestproducts" class='sel'>
        <div>
          <img [src]="product.IMAGE" alt="product image" class="product-image">
        </div>
        <div>
          <h3>{{ product.NAME }}</h3>
          <div>
            <span>{{ product.PRICE*1000}}</span>
            <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
          </div>
        </div>
      </mat-card>
  </div>
  <br>
  <p class="tieuDe">Cơm</p>
  <div class="chonMon">
    <mat-card *ngFor="let product of riceproducts" class='sel'>
      <div>
        <img [src]="product.IMAGE" alt="product image" class="product-image">
      </div>
      <div>
        <h3>{{ product.NAME }}</h3>
        <div>
          <span>{{ product.PRICE*1000}}</span>
          <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </mat-card>
  </div>
  <br>
  <p class="tieuDe">Cake</p>
  <div class="chonMon">
    <mat-card *ngFor="let product of cakeproducts" class='sel'>
      <div>
        <img [src]="product.IMAGE" alt="product image" class="product-image">
      </div>
      <div>
        <h3>{{ product.NAME }}</h3>
        <div>
          <span>{{ product.PRICE*1000}}</span>
          <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </mat-card>
  </div>
  <br>
  <p class="tieuDe">Salad</p>
  <div class="chonMon">
    <mat-card *ngFor="let product of saladproducts" class='sel'>
      <div>
        <img [src]="product.IMAGE" alt="product image" class="product-image">
      </div>
      <div>
        <h3>{{ product.NAME }}</h3>
        <div>
          <span>{{ product.PRICE*1000}}</span>
          <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </mat-card>
  </div>
  <br>
  <p class="tieuDe">Drink</p>
  <div class="chonMon">
    <mat-card *ngFor="let product of drinkproducts" class='sel'>
      <div class="image-container">
        <img [src]="product.IMAGE" alt="product image" class="product-image">
      </div>
      <div>
        <h3>{{ product.NAME }}</h3>
        <div>
          <span>{{ product.PRICE*1000}}</span>
          <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </mat-card>
  </div>
  <br>
  <p class="tieuDe">Sets</p>
  <div class="chonMon">
    <mat-card *ngFor="let product of setsproducts" class='sel'>
      <div>
        <img [src]="product.IMAGE" alt="product image" class="product-image">
      </div>
      <div>
        <h3>{{ product.NAME }}</h3>
        <div>
          <span>{{ product.PRICE*1000}}</span>
          <button mat-button><img src="assets/ProductImage/add.png" alt="No image" style="float: right; width: 25px; height:25px"></button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

