<p>{{ errMessage }}</p>

<div id="site-header">
  <div class="container">
    <h1>GIỎ HÀNG</h1>
  </div>
</div>

<div class="container">
  <div id="cart">
    <div class="cart-items">
      <div *ngIf="cartItems && cartItems.length > 0">
        <div class="product" *ngFor="let item of cartItems">
          <div class="cart-item cart-column">
            <header>
              <a class="remove" (click)="removeProduct(item)">
                <img src="{{ item.IMAGE }}" alt="" />
                <h3>Remove product</h3>
              </a>
            </header>
            <div class="content">
              <h1>{{ item.NAME }}</h1>
            </div>
            <footer class="content">
              <input class="cart-quantity-input" type="number" [(ngModel)]="item.QUANTITY" (ngModelChange)="updateCartItem(item)" />
              <h2 class="full-price">{{ item.PRICE | currency:'VND':'symbol-narrow' }}</h2>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="site-footer">
  <div class="left">
    <h2 class="subtotal">Tạm tính: <span class="tamTinh">{{ tamTinh | currency:'VND':'symbol-narrow' }}</span></h2>
    <h3 class="tax">Thuế (5%): <span class="thue">{{ thue | currency:'VND':'symbol-narrow' }}</span></h3>
  </div>
  <div class="right">
    <h1>Tổng cộng: <span class="total-price">{{ tongCong | currency:'VND':'symbol-narrow' }}</span></h1>
    <a class="btn" href="./Payment.html">Thanh toán</a>
  </div>
</div>


