body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#site-header,
#site-footer {
  background: white;
}

#site-header {
  margin: 0 0 30px 0;
}

#site-header h1 {
  font-size: 50px;
  font-weight: 300;
  padding: 5px 0;
  position: relative;
  letter-spacing: 0.02em;
}

.container, .list  {
  margin: 0 auto;
  /* width: 980px; */
  width: 80%;
}
.productLine, .content .bottom {
  display: flex;
}
.productLine{
  margin-top: 30px;
}
.check{
  flex:1
}
.content{
  flex: 9;
}
/* Định dạng kích thước checkbox */
input[type="checkbox"] {
  transform: scale(2.2); /* tăng kích thước checkbox */
  border-radius: 50%;
}

img {
  width: 230px;
  margin: 0;
  height: 175px;
}
header {
  background-color: #f4f5f4;
  border: 1px solid #ccc;
  border-style: none none solid none;
  float: left;

  overflow: hidden;
  padding: 0;
  position: relative;
  width: 230px;
  height: 175px;
}

.productLine header:hover img {
  opacity: 0.7;
}

.productLine header:hover h3 {
  bottom: 73px;
}
header h3 {
  background: #102d10;
  color: #eee;
  font-size: 22px;
  font-weight: 300;
  line-height: 49px;
  margin: 0;
  padding: 0 30px;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
  text-align: center;
}

.remove {
  cursor: pointer;
}
.content {
  margin-left: 20px;
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 140px;
  padding: 0 20px;
  width: 75%; */
  color: #102d10;
  font-size: 30px;
  font-weight: 300;


}
.name, .bottom{
  background-color: #f4f5f4;
  border: 1px solid #ccc;
  border-style: none none solid none;

}
.name{
  height:100px
}
.bottom{
justify-content: space-between;
margin-top: 10px;
height: 65px;
}
.full-price {
  background: #102d10;
  color: #eee;
  font-size: 30px;
  font-weight: 300;
  line-height: 49px;
  padding: 0 30px;

}


.cart-quantity-input {
  display: block;
  float: left;
  background: white;
  border: none;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  padding: 0 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #ccc;
}


/* ĐUÔI */
#site-footer .left, #site-footer .right{
  margin-top: 20px;
}
#site-footer .right h1 {
  /* border: 1px solid #ccc; */
  /* border-style: none none solid none; */
  font-size: 30px;
  font-weight: 350;
  text-align: center;
  margin-bottom: 10px;

}

#site-footer h2 {
  font-size: 26px;
  font-weight: 300;
  text-align: right;
  margin-right: 150px;
}
.btn {
  background: #102d10;
  border: 1px solid #999;
  border-style: none none solid none;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  padding: 16px 17px;
  width: 290px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin:0 auto;
}
