
    <div id="site-header">
      <div class="container">
        <h1>GIỎ HÀNG</h1>
      </div>
    </div>
    <div class="container">
      <div id="cart">
        <div class="cart-items">
          <div class="product">

            <div class="cart-item cart-column">
              <header>
                <a class="remove">
                  <img src="assets/img/salad.png" />

                  <h3>Remove product</h3>
                </a>
              </header>
              <div class="content">
                <h1>Salad bơ và cá hồi</h1>
              </div>
              <footer class="content">
                <input class="cart-quantity-input" type="number" value="1" />
                <h2 class="full-price">60000</h2>
              </footer>
            </div>
          </div>
          <div class="product">

            <div class="cart-item cart-column">

              <header>
                <a class="remove">
                  <img src="assets/img/salad.png" alt="" />

                  <h3>Remove product</h3>
                </a>
              </header>
              <div class="content">
                <h1>Salad bơ và cá hồi</h1>
              </div>
              <footer class="content">
                <input class="cart-quantity-input" type="number" value="1" />
                <h2 class="full-price">60000</h2>
              </footer>
            </div>
          </div>
          <div class="product">

            <div class="cart-item cart-column">

              <header>
                <a class="remove">
                  <img src="./Hinh/salad.png" alt="" />

                  <h3>Remove product</h3>
                </a>
              </header>
              <div class="content">
                <h1>Salad bơ và cá hồi</h1>
              </div>
              <footer class="content">
                <input class="cart-quantity-input" type="number" value="1" />
                <h2 class="full-price">60000</h2>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="site-footer">
      <div class="left">
        <h2 class="subtotal">
          Tạm tính: <span class="tamTinh">180 000</span> đ
        </h2>
        <h2 class="tax">Thuế (5%): <span class="thue">9 000</span> đ</h2>

      </div>
      <div class="right">
        <h1>Tổng cộng: <span class="total-price">209 000</span>đ</h1>
        <a class="btn" href="./Payment.html">Thanh toán</a>
      </div>
    </div>

