{{errMessage}}
<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Fashion Subject</th>
      <th>Fashion Detail</th>
      <th>Image</th>
      <th>Add to cart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of fashions">
      <td>{{f._id}}</td>
      <td>{{f.fashion_subject}}</td>
      <td>{{f.fashion_detail}}</td>
        <td><img src="{{f.fashion_image}}" width="100px" height="100px"></td>
        <button routerLink="/detail/{{f._id}}">Detail</button>
    </tr>
  </tbody>
</table>
