<div class="main">
  <div class="tab">
      <div class="avatar">
           <img src="assets/image_account/hình.png" alt="No image" width="100px" disabled style="margin-top: 100px;">

           <hr width="240px">
      </div>
      <hr width="240px">
      <button class="tablinks" id="defaultOpen" >Tài khoản của tôi</button>

      <button class="tablinks" (click)="openMenu()">Sửa thông tin</button>
      <button class="tablinks" (click)="openMenu2()">Đơn đã đặt</button>
      <button class="tablinks" (click)="logOut()">Đăng xuất</button>
  </div>
  <div id="general" class="tabcontent">
    <h2 style="margin-top: 100px;">Thông tin chung</h2>
    <p>Quản lý thông tin hồ sơ để bảo vệ tài khoản</p>
    <div class="gen">
    <div class="general1">
      <form class="form1">
      <div class="form_row" let>
        <label class="form_label">Tên đăng nhập</label>
        <p class="form_input">{{account.AccountName}}</p>
      </div>
      <div class="form_row">
        <label class="form_label">Email</label>
        <p class="form_input">{{account.Email}}</p>
      </div>
      <div class="form_row">
        <label class="form_label">Số điện thoại</label>
        <p class="form_input">{{account.SDT}}</p>
      </div>
      </form>
    </div>
  </div>
      <div class="next" style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

  </div>



